{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
        Send an amount
{% endblock %}

{% block content %}
    <p>
            You are the <strong>sender</strong> now.
    </p>

    <p>
           You have been given {{ Constants.endowment }}. Enter the amount that you want to send to the person you are playing with.
    </p>

    The person you are playing with is:
    <p></p>

    <table border = 2 cellpadding="10" class="PartnerTable">
  <tr>
    <th>Question</th>
    <th>Answer</th>

  </tr>
       <tr>
    <td>Age Group</td>
    <td>18-22</td>
  </tr>
       <tr>
    <td>Gender</td>
    <td>Male </td>
  </tr>
   <tr>
    <td>Religion</td>
    <td>{% if partner_type == 1 %} Hindu {% elif partner_type == 2 %} Hindu {% elif partner_type == 3 %} Muslim {% else %} Hindu {% endif %}  </td>
  </tr>
   <tr>
    <td>Fees at college</td>
    <td>{% if partner_type == 1 %} as low as ₹ 555 per year {% elif partner_type == 2 %} as low as ₹ 555 per year {% elif partner_type == 3 %} as low as ₹ 555 per year {% else %} ₹ 5.6 lacs per year {% endif %}  </td>
  </tr>
   </table>

<p></p>

    {% formfield player.sent label="How much would you like to send?" %}

    {% next_button %}

{#    {% include Constants.instructions_template %}#}

{% endblock %}