{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Activity 5: Instructions{% endblock %}

{% block content %}

    <p>Now you will be playing two activities with one other person. </p>

    <p>We will pick any two random rounds to add to you earnings from these two activities.</p>

    <p>You will be randomly assigned a person to play with. </p>

    <p>You will be shown the description of the person you are playing with on the screen. </p>

    <p>For the first game, you will be given Rs. 50.</p>

    <p>You now have to decide how much of this money, you want to send to the person you are playing with.</p>

{#        {% formfield player.subject_id %}#}
{% next_button %}
{% endblock %}
